/**
 * @version    1.3
 * @package    Ninja
 * @author     WooRockets Team <support@woorockets.com>
 * @copyright  Copyright (C) 2014 WooRockets.com. All Rights Reserved.
 * @license    GNU/GPL v2 or later http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Websites: http://www.woorockets.com
 *
 * This is the custom CSS file, Custom CSS file gives you the power to make your own design. Make a backup of this file prior to updating please.
 */
ul,li{
    margin:0px;
    padding:0px;
        list-style:none;
}